<div class="card mt-3 h-100 shadow-sm rounded">
  <div class="card-img-top text-center p-3">
    <img *ngIf="imageData" [src]="imageData" alt="Product Image" class="img-fluid rounded fixed-image">
    <img *ngIf="!imageData" src="../../../../assets/image_placeholder.jpg" class="img-fluid rounded fixed-image">
    <span *ngIf="sold" class="badge bg-danger position-absolute top-0 start-100 translate-middle">{{'Sold'}}</span>
  </div>
  <div class="card-body d-flex flex-column justify-content-between h-100">
    <div>
      <h5 class="card-title text-primary font-weight-bold">{{ truncateCategoryTitle(name) }}</h5>
      <p class="card-text text-muted">{{ truncateText(description,75) }}</p>
      <p class="card-text font-weight-bold">Price: <span class="text-success">{{ price }}</span></p>
    </div>
  </div>
</div>
