.starting-price {
  font-size: 24px; /* Increase font size */
  color: #007bff; /* Change color to a cool blue */
  font-weight: bold; /* Make it bold */
}

.bet-form {
  max-width: 400px;
  margin: 0 auto;
}

.bet-label {
  font-weight: bold;
}

.bet-amount, .bet-description {
  resize: none; /* Prevent resizing of the textarea */
}

.btn-lg {
  margin: 10px /* Adjust button padding */
}
.bg-soft-success {
  background-color: #d4edda; /* Soft green */
  color: #155724;
}

.bg-soft-danger {
  background-color: #f8d7da; /* Soft red */
  color: #721c24;
}

.bg-soft-info {
  background-color: #d1ecf1; /* Soft blue */
  color: #0c5460;
}

.alert.text-center {
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 1.1em;
}

/* Cool back button style */
.btn-back {
  background-color: #17a2b8; /* Teal background */
  border-color: #17a2b8; /* Teal border */
  color: #ffffff; /* White text */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding */
  margin: 30px;
  font-size: 16px; /* Font size */
  cursor: pointer; /* Pointer cursor */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.3s ease; /* Smooth transition */
}

.btn-back:hover {
  background-color: #138496; /* Darker teal background on hover */
  border-color: #138496; /* Darker teal border on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
}

