<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <h2>Account Settings</h2>
      <div class="btn-group-vertical w-100" role="group" aria-label="Account Settings">
        <button type="button" class="btn btn-outline-primary mb-2" (click)="toggleSection('viewProducts')">My Products
        </button>
        <button type="button" class="btn btn-outline-primary mb-2" (click)="toggleSection('myBets')">My Bets</button>

        <button type="button" class="btn btn-outline-primary mb-2" (click)="toggleSection('changePassword')">Change
          Password
        </button>
      </div>
    </div>
    <div class="col-md-8">
      <div *ngIf="activeSection === 'changePassword'">
        <h3>Change Password</h3>
        <form (ngSubmit)="changePassword()">
          <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <input type="password" class="form-control" id="currentPassword" [(ngModel)]="passwords.oldPassword"
                   name="currentPassword">
          </div>
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" id="newPassword" [(ngModel)]="passwords.newPassword"
                   name="newPassword">
          </div>
          <button type="submit" class="btn btn-primary mt-2" (click)="changePassword()">Save Changes</button>
        </form>
      </div>
      <div *ngIf="activeSection === 'viewProducts'">
        <h3>My Products</h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
          <ng-container *ngIf="products.length > 0; else noProducts">
            <div class="col" *ngFor="let product of products" (click)="redirectToProduct(product.id)">
              <app-product-card [name]="product.name" [description]="product.description" [price]="product.price"
                                [imageData]="product.imageData"></app-product-card>
            </div>
          </ng-container>
          <ng-template #noProducts>
            <div class="col">
              <div class="alert alert-info" role="alert">
                <p><strong>No products found!</strong> You haven't added any products yet.</p>
              </div>
            </div>
          </ng-template>
        </div>

      </div>
      <div *ngIf="activeSection === 'myBets'">
        <h3>My Bets</h3>
        <ng-container *ngIf="bets.length > 0; else noBets">
          <app-my-bet-card *ngFor="let bet of bets" [bet]="bet" (delete)="deleteBet($event)"></app-my-bet-card>
        </ng-container>
        <ng-template #noBets>
          <div class="alert alert-info" role="alert">
            <p><strong>No bets found!</strong> You haven't placed any bets yet.</p>
          </div>
        </ng-template>
      </div>

    </div>
  </div>
</div>
