<!-- about-us.component.html -->

<app-navbar/>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center mb-4">About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis condimentum, velit eget dapibus suscipit, odio
        sapien consequat ipsum, sed blandit mi lacus ut velit. Nullam auctor metus at sem ultricies, nec tristique odio
        malesuada. Nam vel mauris odio. Fusce vel tortor eget quam pretium blandit nec sit amet metus.</p>
      <p>Sed ullamcorper sapien vitae ex vulputate, ac bibendum ex volutpat. Sed hendrerit nunc at vestibulum dictum.
        Phasellus vel convallis odio. Nulla at nulla sit amet felis posuere cursus. Vestibulum vestibulum feugiat urna,
        et malesuada justo cursus eget. Nam vel orci ullamcorper, viverra lorem at, fermentum leo.</p>
      <p>Nullam auctor metus at sem ultricies, nec tristique odio malesuada. Nam vel mauris odio. Fusce vel tortor eget
        quam pretium blandit nec sit amet metus. Sed ullamcorper sapien vitae ex vulputate, ac bibendum ex volutpat. Sed
        hendrerit nunc at vestibulum dictum.</p>
    </div>
  </div>
</div>

