<app-navbar></app-navbar>

<div class="container mt-5">
  <h1 class="display-4 mb-4">Products</h1>
  <div class="custom-header-border mb-4"></div>

  <form class="row g-3 align-items-end mb-4">
    <!-- Hidden submit button -->
    <button type="submit" hidden></button>
    <div class="col-md-4">
      <label for="searchTitle" class="form-label">Title</label>
      <input type="text" id="searchTitle" name="searchTitle" class="form-control" [(ngModel)]="searchParameters.name" (ngModelChange)="loadStorage()">
    </div>
    <div class="col-md-2">
      <label for="priceFrom" class="form-label">Price From</label>
      <input type="number" id="priceFrom" name="priceFrom" class="form-control" [(ngModel)]="searchParameters.priceFrom" (ngModelChange)="loadStorage()">
    </div>
    <div class="col-md-2">
      <label for="priceTo" class="form-label">Price To</label>
      <input type="number" id="priceTo" name="priceTo" class="form-control" [(ngModel)]="searchParameters.priceTo" (ngModelChange)="loadStorage()">
    </div>
  </form>

  <div class="text-end mb-4">
    <button type="button" class="btn btn-primary" [routerLink]="['/item/create']">
      <i class="bi bi-plus-lg"></i>
      Add Item
    </button>
  </div>

  <div *ngIf="products.length > 0">
    <h2 class="display-5 mb-4"></h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
      <ng-container *ngFor="let product of products">
        <div class="col">
          <a href="#" class="text-decoration-none" aria-label="Show item details">
            <app-product-card [name]="product.name" [description]="product.description" [price]="product.price" [imageData]="product.imageData"></app-product-card>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</div>
